// Custom styles.
body {
    background:url(https://s2.ax1x.com/2019/07/28/eQtilR.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
    background-size:cover;
}
.main-inner { 
    // margin-top: 60px;
    padding: 20px 60px 60px 60px;
    // background: #fff;
    opacity: 0.9;
    min-height: 500px;
}
#sidebar{
  margin-top :310px !important
  }

#header{
  z-index: 9999
}

.header-inner{
  opacity :.9
}

.content-wrap{
      border-top: 4px solid #ff00e0;
}